@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}


@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
      &-item {
          grid-template-columns: 40px 195px;
          column-gap: 15px;
      }
  }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2,347px);
    }
  }
  .skills {
    padding-top: 70px;
    &__items {
      padding: 0 20px;
      grid-template: repeat(2, auto) / repeat(3, minmax(270px, auto ));
      grid-auto-rows: auto;
      gap: 13px;
  }
  &__ratings {
    margin-top: 120px;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    grid-auto-rows: minmax(70px, auto);
    padding: 0 30px;
}
  }
  .portfolio {
    &__wrapper {
      grid-template: repeat(2,280px) / repeat(auto-fit,280px);
      grid-auto-rows: 280px;
      justify-content: center;
      column-gap: 20px;
      row-gap: 15px;
    }
    &__item_6, &__item_4 {
      grid-row: unset;
      grid-column: unset;
    }
  }
  .contacts {
    &__wrapper {
      grid-template: repeat(1,auto)/ 350px minmax(500px,auto);
      column-gap: 20px;
      padding: 0;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
  }

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fs36 {
      font-size: 30px;
    }
  }
  .about {
    &__wrapper {
      grid-template-columns: 310px 380px;
      column-gap: 30px;
    }
    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115px,auto);
      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    &__wrapper {
      padding: 60px 35px 0 35px;
      grid-template-columns: repeat(2,277px);
      column-gap: 95px;
    }
  }
  .skills {
    padding-top: 70px;
    &__items {
      grid-template: repeat(2, 270px) / repeat(2, 270px);
      justify-content: center;
      grid-auto-rows: auto;
      gap: 13px;
  }
  &__ratings {
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: space-between;
    grid-auto-rows: minmax(70px, auto);
    padding: 0;
    &-line {
      width: 100%;
    }
}
}
.price {
  &__wrapper {
    grid-template-columns: repeat(auto-fit, 350px);
    padding: 0;
  }
}
  .contacts {
    &__wrapper {
      grid-template-columns: 300px 400px;
      padding: 0;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 190px );
    }
    &__btn {
      padding: 8px 25px;
      line-height: 15px;
  }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    &_fs48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      width: 300px;
      line-height: 39px;
    }
  }
  .about {
    padding-top: 40px;
    &__img {
      grid-row: unset;
    }
    &__wrapper {
      grid-template: 400px auto auto / 100%;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    padding-top: 80px;
    &__wrapper {
      padding: 60px 15px 0 15px;
      grid-template-columns: repeat(2,237px);
      column-gap: 35px;
    }
  }
  .skills {
    padding-top: 70px;
    &__items {
      grid-template: repeat(2, 270px) / repeat(2, 270px);
      grid-auto-rows: auto;
      gap: 13px;
  }
  &__ratings {
    justify-content: center;
    grid-auto-rows: minmax(70px, auto);

}
  }
  .portfolio {
    padding-top: 40px;
    &__wrapper {
      margin-top: 40px;
    }
  }
  .price {
    margin-top: 40px;
    &__wrapper {
      margin-top: 20px;
      grid-auto-flow: unset;
      justify-content: center;
    }
  }
  .contacts {
    padding-top: 50px;
    &__img {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px );
    }
  }
}

@media (max-width: 576px) {
  .title {
    &.contacts__subtitle {
      margin-top: 26px;
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 36px;
    }
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fs48 {
      font-size: 26px;
    }
    &_fs36 {
      font-size: 24px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    &__title {
      width: 220px;
      font-size: 20px;
      line-height: 28px;
    }
    background: url("../img/main_bg.jpg") no-repeat 57%/cover;+
    &__btns {
      margin-top: 32px;
    }
  }
  .about {
    &__wrapper {
      grid-template: 340px auto auto / 100%;
      justify-content: center;
    }
  
    &__skills {
      grid-template-columns: 1fr;
      justify-content: center;

    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      margin: auto;
      padding: 40px 15px 0 15px;
      grid-template-columns: 270px;
      justify-content: center;
    }
  }
  .skills {
   .title {
     &_fs36 {
      line-height: 39px;
     }
   }
    padding-top: 40px;
    &__items {
      grid-template: 270px / 270px ;
      grid-auto-rows: auto;
      gap: 13px;
      margin-top: 20px;
      justify-content: center;
  }
  &__ratings {
    grid-template-columns: repeat(auto-fit,300px);
}
  .divider {
    margin-top: 15px;
  }
  }
  .price {
    &__wrapper{
      grid-template-columns: repeat(auto-fit, 300px);
    }
  }
  .contacts {
    padding-bottom: 50px;
  &__form {
    grid-template: 45px 45px 190px 45px/ 1fr ;
  }
  &__textarea {
    grid-column: unset;
  }
  &__triggers {
    grid-column: unset;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  &__btn {
    max-width: 220px;
    margin: 0 auto;
    order: 2;
  }
  &__policy {
    width: 180px;
    margin: 0 auto;
    line-height: 18px;
  }
}
} 