.price {
  margin-top: 60px;
  &__wrapper {
    padding: 0 60px;
    margin-top: 60px;
    display: grid;
    grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
    justify-content: space-between;
    align-content: space-between;
    row-gap: 15px;
    grid-auto-flow: column;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template: minmax(21px, auto) minmax(18px, auto) / repeat(2, auto);
    justify-content: space-between;
    align-content: space-between;
    padding-left: 25px;
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      background: $main-color;
    }
    &-name {
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
    }
    &-sum {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      justify-self: end;
    }
    &-descr {
      width: 340px ;
      font-size: 12px;
      line-height: 18px;
      grid-column: 1/3;
      
    }
  }
  }